/Java05_09/target/
/Java02/target/
/Java05_11/nbproject/private/
/Java05_12/nbproject/private/
/Java05_11/build/
/Java05_12/build/
/Java06_02/target/
/Java09/target/
/Java09_Progress/target/
/JavaIO-Fluxos/target/
/JavaIO-BlocoDeNotas/target/
/Java10_ZIP/target/
/Java10_Serializar/nbproject/private/
/Java10_Serializar/build/
/CadastroSerializado/nbproject/private/
/CadastroSerializado/build/
/Java11_Servidor/nbproject/private/
/Java11_Cliente/nbproject/private/
/Java11_Servidor/build/
/Java11_Cliente/build/
