/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 21 de dez de 2023, 09:26:40
    Author     : leomarotta
*/

/* default.css */

body {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.blue-square {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: blue;
}

.eye {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: lightgreen;
}

.eye.left {
    top: 50px;
    left: 50px;
}

.eye.right {
    top: 50px;
    right: 50px;
}

.nose {
    position: absolute;
    width: 20px;
    height: 50px;
    background-color: lightskyblue;
    top: 120px;
    left: 140px;
}

.mouth {
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: yellow;
    top: 210px;
    left: 100px;
}

/* Adicionando regras para telas menores */
@media screen and (max-width: 600px) {
    .blue-square {
        width: 80%;
        height: auto;
    }
    .eye, .nose, .mouth {
        position: absolute;
        width: 10%;
        height: 10%;
    }
    .eye.left {
        top: 10%;
        left: 10%;
    }
    .eye.right {
        top: 10%;
        right: 10%;
    }
    .nose {
        top: 40%;
        left: 45%;
    }
    .mouth {
        top: 70%;
        left: 20%;
    }
}
