/* 
    Created on : 4 de jan de 2024, 08:54:30
    Author     : leomarotta
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    background-color: #333;
    color: white;
    padding: 10px;
}

label {
    margin-top: 20px;
    font-size: 18px;
}

#nome {
    padding: 10px;
}

#resultado {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#resultado li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
}

ul {
    text-align: center;
    right: 50%;
    left: 50%;
}